<section class="w-full bg-white">
    <!-- Container -->
    <div class="flex justify-between items-start gap-16 px-24 py-16">
        <!-- Col Left -->
        <div class="w-1/2 flex flex-col items-start gap-8">
            <!-- Tiles -->
            <div class="flex flex-col gap-2">
                <h4 class="text-6xl text-gray-600 italiana-regular">Pourquoi accepter <br> d'être ma valentine ?</h4>
                <p class="text-sm text-red-800 font-sans font-medium">I got u !</p>
            </div>
            
            <!-- Photos -->
            <div class=" bg-yellow-50 px-6 pt-4 pb-16">
                <!-- Carousel -->
                <div class="">
                    <!-- Carousel Container -->
                    <div>
                        <!-- Photo -->
                        <div class="w-96 h-96 overflow-hidden">
                            <img class="bg-cover" src="images/header1.jpg" alt="photo du valentin">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- CV -->
        <div class="relative w-1/2 h-full bg-gray-100 px-6 py-8 mt-12">
            <!-- Title -->
            <div class="mb-6">
                <h4>Ci joint le CV de ton futur homme</h4>                
            </div>
            
            <!-- CV Sections -->
            <div class="space-y-4">
                <div class="px-4 py-3 bg-white rounded-xl">
                    <p class="text-xs text-gray-600 font-bold font-sans mb-4">Profile</p>

                    <!-- CV Items -->
                    <ul class="flex flex-col gap-4">
                        <li class="flex items-center gap-2">
                            <span class="w-2 h-2 bg-gray-950"></span>
                            <p class="text-sm text-gray-800 font-sans font-bold">Marron Jaune (comme tes dents)</p>
                        </li>
                        <li class="flex items-center gap-2">
                            <span class="w-2 h-2 bg-gray-950"></span>
                            <p class="text-sm text-gray-800 font-sans">18.53 m (j'ai arrondi)</p>
                        </li>
                        <li class="flex items-center gap-2">
                            <span class="w-2 h-2 bg-gray-950"></span>
                            <p class="text-sm text-gray-800 font-sans">1,000,000 $ (dans GTA)</p>
                        </li>
                        <li class="flex items-center gap-2">
                            <span class="w-2 h-2 bg-gray-950"></span>
                            <p class="text-sm text-gray-800 font-sans">Hashton Martin Serie Z 1978 (toujours dans GTA)</p>
                        </li>
                    </ul>
                </div>

                <div class="px-4 py-3 bg-white rounded-xl">
                    <p class="text-xs text-gray-600 font-bold font-sans mb-4">Profile</p>

                    <!-- CV Items -->
                    <ul class="flex flex-col gap-4">
                        <li class="flex items-center gap-2">
                            <span class="w-2 h-2 bg-gray-950"></span>
                            <p class="text-sm text-gray-800 font-sans font-bold">Marron Jaune (comme tes dents)</p>
                        </li>
                        <li class="flex items-center gap-2">
                            <span class="w-2 h-2 bg-gray-950"></span>
                            <p class="text-sm text-gray-800 font-sans">18.53 m (j'ai arrondi)</p>
                        </li>
                        <li class="flex items-center gap-2">
                            <span class="w-2 h-2 bg-gray-950"></span>
                            <p class="text-sm text-gray-800 font-sans">1,000,000 $ (dans GTA)</p>
                        </li>
                        <li class="flex items-center gap-2">
                            <span class="w-2 h-2 bg-gray-950"></span>
                            <p class="text-sm text-gray-800 font-sans">Hashton Martin Serie Z 1978 (toujours dans GTA)</p>
                        </li>
                    </ul>
                </div>

                <div class="px-4 py-3 bg-white rounded-xl">
                    <p class="text-xs text-gray-600 font-bold font-sans mb-4">Profile</p>

                    <p class="text-2xl text-gray-900 font-sans">Fou Amoureux de Toi !</p>
                </div>
            </div>

            <p class="text-xs text-right text-gray-900 font-medium font-sans pt-3 pb-2">Validé par cupidon en personne</p>
            
            <div class="absolute z-40 -top-16 -right-20 w-48 h-48 bg-blue-600"></div>
        </div>
    </div>
</section>