<section id="program" class="w-full sm:min-h-screen">
    <div class="px-8 sm:px-28 py-10 sm:py-24">
        <!-- Title -->
        <div>
            <h2 class="text-4xl sm:text-6xl text-[var(--color-3)] font-bold sm:font-medium font-sans">Programme <br class="block sm:hidden"> Valentine Day <br class="hidden sm:block"> en amoureux</h2>
        </div>
        
        <!-- Program -->
        <div class="w-full sm:mx-auto mt-12 sm:mt-16 px-6 sm:px-8 py-6 sm:py-12 bg-white rounded-xl">
            <!-- Program Content -->
            <div class="flex flex-col sm:flex-row sm:justify-between gap-8 sm:gap-18">
                <!-- Program Texts -->
                <div class="w-full h-64 sm:h-auto bg-gray-50 sm:w-2/3 relative overflow-hidden">
                    @for(program of programs; track program.index){
                    <div [ngClass]="{
                            'translate-x-full': !program.active, 
                            'translate-x-0': program.active,
                            'z-30': program.active && program.top
                        }" 
                        class="absolute inset-0 w-full bg-white transition-transform duration-600 ease-in-out">
                        <!-- Hour -->
                        <div class="py-2">
                            <p class="text-sm sm:text-xs text-center sm:text-left text-[var(--color-3)] font-bold font-sans">{{program.time}}</p>    
                        </div>
                        <div class="space-y-3">
                            <!-- Program Title -->
                            <div>
                                <h4 class="text-2xl sm:text-3xl text-center sm:text-left text-gray-800 font-bold">{{program.title}}</h4>
                            </div>
                            <!-- Comment -->
                            <div>
                                <p class="text-lg sm:text-xl text-center sm:text-left max-w-2/3 mx-auto sm:mx-0 poiret-one-regular">{{program.description}}</p>
                            </div>
                        </div>
                    </div>
                    }
                </div>
                
                <!-- Program Image -->
                <div class="w-2/3 sm:w-1/3 mx-auto sm:mx-0 aspect-square rounded-2xl relative overflow-hidden">
                    @for(program of programs; track program.index){
                    <div [ngClass]="{
                            'translate-y-full': !program.active, 
                            'translate-y-0': program.active,
                            'z-30': program.active && program.top
                        }"
                        [style.background-image]="program.image"
                        class="absolute w-full aspect-square overflow-hidden rounded-2xl bg-cover bg-center transition-transform duration-600 ease-in-out">
                    </div>
                    }
                </div>
                    
            </div>
        </div>

        <!-- Program Navbar -->
        <div class="w-full sm:w-1/2 mx-auto py-8">
            <div class="flex items-center justify-evenly">
                @for(program of programs; track program.index){
                <button (click)="activeProgram($index)" 
                    class="relative w-5 bg-[var(--color-3)] aspect-square rounded-full pointer"
                    [disabled]="program.active">
                    
                    <div [ngClass]="{
                            'scale-100' : program.top, 
                            'scale-0': !program.top
                        }" 
                        class="absolute inset-[4px] bg-white rounded-full transition-transform duration-600 ease-in-out"></div>
                </button>
                }
            </div>
        </div>
    </div>
</section>