@use "tailwindcss";

:root{
    --color-1: #FFE5E8;
    --color-2: #fff;
    --color-3: #fff;
}

@layer base{
    html{
        scroll-behavior: smooth;
        overflow-x: hidden;
    }

    ::-webkit-scrollbar {
        width: 0;
        background: transparent;  
    }
    ::-webkit-scrollbar-thumb {
        background: #464646;
    }

    body{
        margin:0;
        padding:0;
        box-sizing: border-box;
    }

    input:focus {
        outline: none;
        box-shadow: none;
    }

    .christabelle{
        font-family: 'Christabelle';
    }
    .fiolexgirl{
        font-family: 'FiolexGirl';
    }
    .myheart{
        font-family: 'MyHeart';
    }
}

@layer utilities{
    .pointer{
        @apply cursor-pointer
    }
}

@font-face {
    font-family: 'Christabelle';
    src: url('../public/fonts/christabelle/Christabelle.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'FiolexGirl';
    src: url('../public/fonts/fiolex_girls/Filxgirl.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MyHeart';
    src: url('../public/fonts/myheart/myheart.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}