@use "tailwindcss";

:root{
    --color-1: #FFE5E8;
    --color-2: #FFADC3;
    --color-3: #BE4065;
    --color-4: #882A40;
}

@layer base{
    html{
        scroll-behavior: smooth;
        overflow-x: hidden;
    }

    ::-webkit-scrollbar {
        width: 0;
        background: transparent;  
    }
    ::-webkit-scrollbar-thumb {
        background: #464646;
    }

    .no-scrollbar{
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    body{
        margin:0;
        padding:0;
        box-sizing: border-box;
    }

    input:focus {
        outline: none;
        box-shadow: none;
    }

    .christabelle{
        font-family: 'Christabelle';
    }
    .fiolexgirl{
        font-family: 'FiolexGirl';
    }
    .myheart{
        font-family: 'MyHeart';
    }
    .valentine{
        font-family: 'Valentine';
    }
    .kissing-season{
        font-family: 'KissingSeason';
    }
    .italiana-regular {
        font-family: "Italiana", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    .poiret-one-regular {
        font-family: "Poiret One", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

}

@layer utilities{
    .pointer{
        @apply cursor-pointer
    }
}

@font-face {
    font-family: 'Christabelle';
    src: url('../public/fonts/christabelle/Christabelle.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'FiolexGirl';
    src: url('../public/fonts/fiolex_girls/Filxgirl.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MyHeart';
    src: url('../public/fonts/myheart/myheart.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Valentine';
    src: url('../public/fonts/valentine/Valentine.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'KissingSeason';
    src: url('../public/fonts/kissing_season/Kissing\ Season.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}